<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title class="dashboard-card-title">
              Ações rápidas
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Exemplo</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <div class="button-row">
                  <button mat-raised-button color="primary" [routerLink]="['/produtos']" routerLinkActive="active">Cadastrar Produto</button>
              </div>
              <br>
              <div class="button-row">
                <button mat-raised-button color="primary" [routerLink]="['/vendas']" >Realizar Venda</button>
              </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card" style="overflow: auto">
            <mat-card-header>
              <mat-card-title class="dashboard-card-title">
                  {{dataAtual | date: 'dd/MM/yyyy'}} - Vendas
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Exemplo</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <app-venda-list></app-venda-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
  </mat-grid-list>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://www.linkedin.com/in/guilhermepaim/"> Guilherme Paim - Perfil Linkedin</a>
      </div>
</footer>